
body {
width: 100%;
background-color: #000;
}

.flex {

display: flex;
flex-direction: column;

}

div {
width: 100%;
align-items: center;
}



.header {
background-color: #000;
padding: 15px;
align-items: center;
}

.texto h1 {

text-align: center;
color: white;
margin-top: 15px;
margin-rigth: 20px;
background-color: #A52A2A;
display: block;
padding: 5px;

font-size: 1.2ren;
font-family: Arial;
}

/* cap */


.cap p {

color: white;
font-size: 36px;
padding: 5px;
margin-bottom: 25px;
margin-top: 150px;
border-bottom: solid 10px #A52A2A;

}
 
.botao {
font-family: Arial;
font-size: 15px;
font-weight: 300px;
border: none;
padding: 15px;
cursor: pointer;

}

.cor { 
background: #A52A2A;
color: white;
box-shadow: 0 7px 0 #8B1A1A;

}

.cor:hover { 
background: #8B1A1A;
color: white;
box-shadow: 0 7px 0 #8B2323;

}

.cor:active { 
position: relative;
top: 5px;
box-shadow: none;

}

