body {
width: 100%;
background-color: #000;
background-image: url("8c253ac5cf342d77ce663db4cb1695b1.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
background-attachment: fixed;
}




.header {
background-color: #000;
padding: 15px;
align-items: center;
}

.texto h1 {

text-align: center;
color: white;
margin-top: 15px;
display: block;
padding: 5px;
background-color: #A52A2A;
font-size: 1.2ren;
font-family: Arial;
}

/* cap */

.center {

position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
width: 600px;
height: 800px;
margin: auto;
border: 10px;
border-style: solid;
border-color: #A52A2A;
}


.cap p {

color: white;
font-size: 36px;
padding: 5px;
margin-bottom: 25px;
margin-top: 150px;
background-color: #A52A2A;

}
 
.botao {
font-family: Arial;
font-size: 15px;
font-weight: 300px;
border: none;
padding: 15px;
cursor: pointer;
text-decorantion: none;
}

.cor { 
background: #A52A2A;
color: white;
box-shadow: 0 7px 0 #8B1A1A;

}

.cor:hover { 
background: #8B1A1A;
color: white;
box-shadow: 0 7px 0 #8B2323;

}

.cor:active { 
position: relative;
top: 5px;
box-shadow: none;

}
