body {
background-color: #000;
}

.header {
width: 100%;
background-color: #000;
align-items: center;
padding: 15px;
}

.texto h1 {
text-align: center;
background-color: #A52A2A;
color: white;
padding: 5px;
margin-top: 10px;
}


h3 {

text-align: center;
color: white;
padding: 10px;
border: solid 5px #A52A2A;

}



.botao {
font-family: Arial;
font-size: 15px;
padding: 15px;
margin-top: 20px;
cursor: pointer;
text-decoration: nome;

}

.cor { 
background: #A52A2A;
color: white;
box-shadow: 0 7px 0 #8B1A1A;

}

.cor:hover { 
background: #8B1A1A;
color: white;
box-shadow: 0 7px 0 #8B2323;

}

.cor:active { 
position: relative;
top: 5px;
box-shadow: none;

}
