Body {
background-color: #000
}


Body, ul, li, p {
  
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2ren;
  font-family: Arial
}

a {
text-decoration: none;
color: white;
}

h1{
background-color: #000
text-align: center;
margin-top: 150px;
margin-low: 50px;
}


.header {
background-color: #000;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 15px;
align-items: center;

}

img {
max-width: 100%;
display: block;
}

.menu {

display: flex;


}

.menu li {

margin-left: 15px;

}

.menu li a {
display: block;
padding: 10px;
background-color: #A52A2A;

}


/* CSS FLEXBOX */

.flex{

display: flex;
flex-wrap: wrap;
margin: 10px;
align-items: center;
}


.Imagem {
background-image: url="183389065a9c0d932175234098e63120.jpg ";
background-image: url="20c810fd266f1afc199989b669cbea22.jpg ";
background-image: url="3f0ad0d31ab0f39101397eab9a1e1804.jpg";
background-image: url="ce7b0e925e70366bd4b1a476c8324a1c.jpg ";
width: 150px;
height: 150px;


}
