Body, ul, li, p {
  background-color: #000;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2ren;
  font-family: Arial
}

a {
text-decoration: none;
color: white;
}

.header {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 15px;
align-itens: center;

}
