Body {
background-color: #000
}


Body, ul, li, p {
  
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2ren;
  font-family: Arial
}

a {
text-decoration: none;
color: white;
}

h1{
color: white;
text-align: center;
margin-top: 150px;
margin-low: 50px;
}


.header {
background-color: #000;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 15px;
align-itens: center;

}

img {
max-width: 100%;
display: block;
}

.menu {

display: flex;


}

.menu li {

margin-left: 15px;

}

.menu li a {
display: block;
padding: 10px;
background-color: #A52A2A;

}


/* CSS FLEXBOX */

.flex{

display: flex;
margin: 10px;
align-itens: center;
}


.Imagem1 {

width: 350px;
height: 300px;
padding: 20px;
margin-top: 25px;
}

.Imagem3 {

width: 350px;
height: 300px;
padding: 20px;
margin-top: 25px;
}

.Imagem4 {

width: 350px;
height: 300px;
padding: 20px;
margin-top: 25px;
}


.Imagem1 p {
font-size: 1.2ren;
font-family: Arial;
color: #FFF;
color-decoration: none;
background-color: #363636;

}

.Imagem3 p {
font-size: 1.2ren;
font-family: Arial;
color: #FFF;
color-decoration: none;
background-color: #363636;
}
.Imagem4 p {
font-size: 1.2ren;
font-family: Arial;
color: #FFFAFA;
color-decoration: none;
background-color: #363636;
}


div {
 margin-top: 25px;
 margin-bottom: 25px;
}

.meio {

align-itens: center;
}
